<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>RECURSOS</h1>
    <ol>  {% for recurso in recursos %}
    <li>{{ recurso }}</li>
  {% endfor %}</ol>

      <h1>hola por aca hay enlaces a otras paginas</h1>
    <button><a href="/">Inicio</a></button>
<button><a href="/acerca">Acerca</a></button>
<button><a href="/contacto">Contacto</a> </button>
<button><a href="/hola">hola</a> </button>
<button><a href="/bien">bien</a> </button>
<button><a href="/como">Como</a> </button>
<button><a href="/recursos">Recursos</a> </button>
</body>
</html>